.report-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    background: #000;
}

h1, button {
    font-size: 2rem;
    color: #FFF;
}

.header {
    padding: 2rem;
    color: #FFF;
}

form {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    fieldset {
        margin-bottom: 1rem;
        flex: 1;
        button {
            border: none;
            background: transparent;
            cursor: pointer;
            padding: 1rem 2rem;
            width: 100%;
            font-family: 'Roboto', sans-serif;
        }
        .report-box {
            text-align: left;
            border-bottom: 1px solid #FFF;
            select {
                height: 1.8rem;
                background: none;
                border: none;
                border-radius: 0;
                color: rgb(237, 67, 67);
                appearance: none;
                font-size: 1rem;
                padding-left: 0.5rem;
                width: 100%;
                outline: none;
                line-height: 2;
            }
        }
        textarea {
            height: 200px;
            width: 100%;
            margin-top: 1rem;
            padding: 0.5rem;
            font-size: 1rem;
            &::placeholder {
                color: rgb(237, 67, 67);
            }
        }
    }
}

.ng-invalid.submitting fieldset {
    select, textarea{
        animation: border-pulse 0.5s infinite;
    }
}

.ng-invalid.submitting fieldset {
    .ng-valid, div .ng-valid {
        animation: border-pulse 0s infinite;
    }
}

@keyframes border-pulse{
    0% { box-shadow: 0 0 0 1px darkred; }
    100% { box-shadow: 0 0 0 10px rgba(237, 67, 67, .2); }
}