<div class="encounters-container">
  <div class="header">
    <h1>Recent Encounters</h1>
    <p>See an Alien? Report it!</p>
  </div>
  <div class="encounters-scroll">
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
      <p>blahblahblablahlalbhalhblahblahbla</p>
  </div>
  <div class="footer">
      <a routerLink="/report"><h2>Report Encounter</h2></a>
  </div>
</div>