<div class="register-container">
  <h1>Register</h1>
  <div class="form">
    <fieldset>
      <input type="text" value placeholder="Name"/>
      <input type="number" value placeholder="Age"/>
      <div class="select-box">
        <select class="occupation">
	        <option value="placeholder">Select occupation</option>
          <option value="">Alien Hunter</option>
          <option value="">Yoga Teacher</option>
          <option value="">Dust Farmer</option>
          <option value="">Front-End Developer</option>
        </select>
      </div>
    </fieldset>
    <fieldset>
      <a routerLink="/encounters"><button>Check in</button></a>
    </fieldset>
  </div>
</div>